.star {
  background: #fff;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  box-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #228dff,
    0 0 35px #228dff,
    0 0 40px #228dff,
    0 0 50px #228dff,
    0 0 75px #228dff;
}
