$flor_color: linear-gradient(
  to bottom,
  #310000,
  #380101,
  #400002,
  #470001,
  #4f0000
);
$back_color: #310000;

$box_depth: 300px;

$flor_color: transparent;
.scene {
  height: 100dvh;
  overflow: hidden;
  perspective: 600px;
  position: relative;

  &__content {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 450px;
    top: 10%;
    left: 10%;
    position: relative;
  }

  &__floor {
    width: 100%;
    height: $box_depth;
    transform-origin: bottom left;
    background: $flor_color;
    transform: rotateX(90deg);
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid #fff;
  }

  &__roof {
    width: 100%;
    height: $box_depth;
    transform-origin: top left;
    background: $flor_color;
    transform: rotateX(-90deg);
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
  }

  &__wallLeft {
    height: 100%;
    width: $box_depth;
    transform-origin: top left;
    background: $flor_color;
    transform: rotateY(90deg);
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
  }

  &__wallRight {
    height: 100%;
    width: $box_depth;
    transform-origin: top right;
    background: $flor_color;
    transform: rotateY(-90deg);
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #fff;
  }
}
