$box_depth: 300px;

$flor_color: transparent;
.scene {
  overflow: hidden;
  perspective: 600px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s perspective-origin;

  &__content {
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 80%;

    h1 {
      margin-bottom: 2rem;
    }
  }

  &__floor {
    width: 100%;
    height: $box_depth;
    transform-origin: bottom left;
    transform: rotateX(90deg);
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid #fff;
  }

  &__roof {
    width: 100%;
    height: $box_depth;
    transform-origin: top left;
    transform: rotateX(-90deg);
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
  }

  &__wallLeft {
    height: 100%;
    width: $box_depth;
    transform-origin: top left;
    transform: rotateY(90deg);
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
  }

  &__wallRight {
    height: 100%;
    width: $box_depth;
    transform-origin: top right;
    transform: rotateY(-90deg);
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #fff;
  }
}
